<h1 class="main_title">Bienvenido a Ustore</h1>
<section class="hero_s">
    <div class="hero_c">
        <button class="products_link">
            <a href="/product">Ver nuestros celulares</a>
        </button>
    </div>
</section>