<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Proyecto final Backend</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/">Home</a>
                <details>
                    <summary>Productos</summary>
                    <ul>
                        <li>
                            <a href="/newProduct">Agregar un producto</a>
                        </li>
                        <li>
                            <a href="/product">Productos</a>
                        </li>
                </details>
            <a href="/cart/67d71ccbfc455b60aaf8c4cc">Carrito</a>
        </nav>
    </header>
    {{{body}}}
</body>
</html>